<header id="header">
	<div id = site_title>
		<div class = "featured-img-container"><a href="{{ "/" | absolute_url }}"><img src="/assets/img/logo.jpg"</a></div>
		{% if site.data.settings.subtitle.active %}
		<h2>
			{{ site.data.settings.subtitle.text }}
		</h2>
		{% endif %}
	</div>

	<div id="subheader">
		{% if site.data.settings.nav.pages.active %}
		<nav class="pages">
			{%- include pages.html -%}
		</nav>
		{% endif %}
		{% if site.data.settings.nav.social.active %}
		<nav class="social">
			{% include social.html %}
		</nav>
		{% endif %}
	</div>
</header>