.footer{
    p{
		color: grey;
        text-align: center;
        font-size: 0.7rem;
    }
    a{
		color: grey;
		background: none;
        text-decoration: underline;
    }
}

.footer::before{
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: #d5d5d5;
}