---
layout: default
title: Home
---

<h1>Comment commander ?</h1>

Si certains modèles vous intéressent, contactez-nous à <a href="mailto:lefuretdubois@icloud.com">lefuretdubois@icloud.com</a> en précisant la liste des références et les options voules (métal, etc.) Nous reviendrons vite vers vous et trouverons la solution de paiement et de livraison qui vous convient le mieux.

<h1>Colliers</h1>

{% assign product_list = site.products | where_exp: "product", "product.tags contains 'collier'" %}
{% include full_product_grid.html list=product_list %}

<h1>Boucles d'oreilles</h1>

{% assign product_list = site.products | where_exp: "product", "product.tags contains 'boucles_oreilles'" %}
{% include full_product_grid.html list=product_list %}


<h1>Objects de déco</h1>

{% assign product_list = site.products | where_exp: "product", "product.tags contains 'deco'" %}
{% include full_product_grid.html list=product_list %}

<h1>Jouets</h1>

{% assign product_list = site.products | where_exp: "product", "product.tags contains 'jouet'" %}
{% include full_product_grid.html list=product_list %}

