---
layout: default
title: Home
---

<h1>Colliers</h1>

{% assign colliers = site.products | where_exp: "product", "product.tags contains 'collier'" %}

<div class="row">
{% for product in colliers %}
	{% assign image_name = product.images | first %}
	<div class="col-1-6">
			<a href="{{ product.url }}"><img src="{{ "/assets/img/products_25/" | append: image_name | relative_url }}"/></a>
	</div>
{% endfor %}
</div>

<h1>Boucles d'oreilles</h1>

{% assign colliers = site.products | where_exp: "product", "product.tags contains 'boucles_oreilles'" %}

<div class="row">
{% for product in colliers %}
	{% assign image_name = product.images | first %}
	<div class="col-1-6">
			<a href="{{ product.url }}"><img src="{{ "/assets/img/products_25/" | append: image_name | relative_url }}"/></a>
	</div>
{% endfor %}
</div>