<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      <article id = "post">
        <h2 id = "post-title">{{ page.title }}</h2>

        {{ content }}
		
		{% assign product_list = site.products | where_exp: "product", page.product_filter %}
		<div class="row">
			{% for product in product_list %}
			{% assign image_name = product.images | first %}
			<div class="col-1-4">
				<a href="{{ product.url }}"><img src="{{ "/assets/img/products_25/" | append: image_name | relative_url }}"/></a>
			</div>
			{% endfor %}
		</div>
      </article>
    </div>

{%- include footer.html -%}

</body>
</html>
